/*1. Variables*/
:root{
    --color-primario: #ee2400;
    --color-fondo: #ffffff;
    --color-texto: #111827;
    --color-borde: #d0d0d0;
    --color-texto-secundario: #595959;
    --color-fondo-boton: #EBEBEB;
    --radio-bordes: 20px;
    --radio-bordes-boton: 10px;
    --fuente-principal: 'Inter', sans-serif;
}


/*2. Estilos generales*/
body{
    font-family: var(--fuente-principal);
    background-color: var(--color-fondo);
    color: var(--color-texto);
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
}

.titulo-app {
    text-align: center;
    margin-bottom: 30px;
}

.formulario{
    background: white;
    padding: 20px 10px;
    border-radius: none;
    box-shadow: none
}

.formulario h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
}

.hidden-label {
    display: none;
}

.separador {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 25px 0 15px 0;
    color: var(--color-texto-secundario);
    font-size: 12px;
    font-weight: 500;
}

.separador::before,
.separador::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid var(--color-borde);
}

.separador span {
    padding: 0 15px;
}

.enlace-inferior a {
    color: var(--color-texto);
    text-decoration: underline;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: color 0.3s ease;
    text-align: center;
}

.enlace-inferior a:hover {
    color: var(--color-primario);
}


/*3. Inputs y formularios*/

.grupo-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.grupo-input label{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
}

input, select{
    padding: 14px 16px;
    border: 1px solid var(--color-borde);
    border-radius: var(--radio-bordes);
    font-size: 14px;
    outline: none;
    transition: border 0.3s ease;
    background-color: var(--color-fondo);
}

input:focus, select:focus{
    border-color: var(--color-primario);
}

/*4. Botones*/
.btn-primario{
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: var(--color-primario);
    color: white;
    border: none;
    border-radius: var(--radio-bordes-boton);
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.hidden{
    display: none;
}

/*5. Logo */

.logo-container {
   display: flex;
   justify-content: center;
    margin-bottom: 30px;
    width: 100%;
}

.logo {
    max-width: 120px;
    height: auto;
}

/* Estilos creados por jj 
body{
    font-family: Arial;
    background-color: #f4f4f4;
}

.container{
    width: 400px;
    margin: auto;
    margin-top: 40px;
}

.formulario{
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

input, select{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button{
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    cursor: pointer;
}

.hidden{
    display: none;
}

.switch{
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.switch button{
    width: auto;
    padding: 8px 14px;
}

.switch button.active{
    background-color: #333;
    color: white;
}

*/